h1{
	margin-left: 10px;
}

p{
	margin-left: 10px;
}

table{
	margin-left: 10px;
	margin-right: 10px;
}

.navbar-brand{
	background-color: #7FFFD4 !important;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar{
	background: white;
}

body{
	background-color: gray !important;
}

.container{
	background-color: white;
}

.collaspe navbar-collaspe{
	text-align: right !important;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}