h1{
	margin-left: 10px;
}

p{
	margin-left: 10px;
}

table{
	margin-left: 10px;
	margin-right: 10px;
}

.navbar-brand{
	background-color: #7FFFD4 !important;
}

.navbar{
	background: white;
}

body{
	background-color: gray !important;
}

.container{
	background-color: white;
}

.dropdown-menu{
	display: block;
}